main {
  .card {
    .card_box {
      margin-top: 3rem;
      text-align: center;
      align-items: center;
      h1 {
        font-weight: 600;
        font-size: 40px;
        color: #555;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      h2 {
        font-size: 30px;
        text-transform: uppercase;
        color: #b099d9;
        letter-spacing: 2px;
      }

      p {
        font-size: 18px;
        margin-top: 2rem;
        line-height: 1.5;
      }
    }

    .card_big_div {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
    .card_div {
      margin-top: 5rem;
      background-color: #f4f4f4;
      width: 400px;
      height: 450px;
      text-align: center;
      padding: 2rem;
      border-radius: 50px;
      box-shadow: 3px 1px 10px #babecc;

      .icon {
        padding: 20px;
        background-color: #fff;
        font-size: 62px;
        color: #b099d9;
        border-radius: 20px;
      }
      h2 {
        margin-top: 3rem;
        font-size: 25px;
        color: #555;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      p {
        font-size: 19px;
        line-height: 1.5;
        color: #566;
        margin-bottom: 3rem;
      }

      .bottom {
        font-size: 100px;
        color: #b099d9;
      }
    }
    .card_div2 {
      margin-top: 5rem;
      background-color: #b099d987;
      width: 400px;
      height: 450px;
      text-align: center;
      padding: 2rem;
      border-radius: 50px;
      box-shadow: 3px 1px 10px #babecc;

      .icon {
        padding: 20px;
        background-color: #fff;
        font-size: 62px;
        color: #b099d9;
        border-radius: 20px;
      }
      h2 {
        margin-top: 3rem;
        font-size: 25px;
        color: #555;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      p {
        font-size: 19px;
        line-height: 1.5;
        color: #566;
        margin-bottom: 3rem;
      }

      .bottom {
        font-size: 100px;
        color: #b099d9;
      }
    }
  }
  .tecnology {
    margin-top: 7rem;
    .tecnology_box {
      display: flex;
      justify-content: space-between;
      .tecnology_text1 {
        h2 {
          width: 90%;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 40px;
          span {
            font-weight: 200;
          }
        }
      }
      .tecnology_text2 {
        margin-right: 6rem;
        h2 {
          color: #b099d9;
          font-size: 40px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        h3 {
          width: 90%;
          font-size: 25px;
        }
      }
    }
  }
  .content {
    flex: 1;
  }

  .content h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .content p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
  }

  .btn {
    background: #a68bc4;
    padding: 15px 35px;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  .team {
    margin-top: 10rem;
    flex: 1;
  }

  .team h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .team-members {
    background: #e2d4f0;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    gap: 3rem;
    width: 550px;
    height: 250px;
  }

  .member {
    text-align: center;
  }

  .member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .member h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .member p {
    font-size: 16px;
    color: #444;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1300px;
    margin: 50px auto;
    padding: 20px;
    gap: 12rem;
  }

  .text {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    .left_text {
      .text1 {
        background-color: #9757d20f;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 1rem;
        gap: 3rem;

        h1 {
          padding-left: 30px;
          font-size: 30px;
        }

        p {
          color: #555;
          line-height: 1.6;
          font-size: 18px;
          width: 400px;
        }
      }
      .text2 {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 1rem;

        h1 {
          padding-left: 30px;
          font-size: 30px;
        }

        p {
          color: #555;
          line-height: 1.6;
          font-size: 18px;
          width: 400px;
        }
      }
    }
  }

  .sample {
    padding: 3rem;
    background-color: #b099d96b;
    width: 100%;
    height: auto;
    > div {
      display: flex;
      justify-content: center;
      gap: 2rem;
      .sample2 {
        margin-top: 12rem;
      }
    }
  }

  .sample_box {
    width: 400px;
    height: 400px;
    background-color: #fff;
    padding: 40px 70px;
    text-align: center;
    border-radius: 30px;

    img {
      overflow: hidden;
      object-fit: cover;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 400;
      line-height: 1.7;
      font-size: 22px;
      color: #888;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 1rem;
      letter-spacing: 2px;
    }
    h4 {
      color: #a68bc4;
      font-size: 16px;
    }
  }
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-4px);
}

button:active {
  transform: translateY(2px);
}
