@media screen and (max-width: 600px) {
  header {
    background-image: url(./../img/png/hero-backgroun_LE_upscale_balanced_x4.jpg);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    padding-top: 1.5rem;
    padding: 1.5rem 10px;
    background-position: 20% 90%;
    position: relative;
    form {
      align-items: center;
      input {
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        outline: none;
        width: 250px;
        padding: 12px 10px;
        font-size: 18px;
        position: relative;
        &::placeholder {
          color: #fff;
        }
      }
      i {
        color: #fff;
        font-size: 20px;
        margin-top: 10px;
        transform: translateX(-30px);
        position: absolute;
      }
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu2 {
        display: flex;
        justify-content: space-around;
        margin-top: -20px;
        font-size: 19px;
      }

      .side-menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background: #ffffff39;
        backdrop-filter: blur(10px);
        color: #fff;
        padding: 20px;
        transition: right 0.8s ease;
      }

      .side-menu ul {
        list-style: none;
        padding: 0;
      }

      .side-menu ul li {
        margin: 15px 0;
      }

      #close {
        transition: all 2s ease;
        font-size: 20px;
        color: #fff;
        background-color: transparent;
        border: none;
      }

      #menuBtn {
        font-size: 30px;
        background-color: transparent;
        border: none;
        color: #fff;
      }

      .side-menu.open {
        right: 0;
      }
      .Menu_text {
        font-size: 18px;
        li {
          padding: 15px;
          box-shadow: 10px 10px 20px #babacecc, -1px -1px 20px #fff;
          width: auto;
          transition: all 0.2s ease-in-out;
          border-radius: 10px;
          position: relative;
          cursor: pointer;
          color: #fff;
          &:hover {
            transform: scale(0.9);
          }
          span {
            position: absolute;
            right: 10px;
            font-size: 25px;
          }
        }
      }
    }
  }

  i {
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }

  .hero {
    margin-top: 4rem;
    .hero_box {
      h1 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 30px;
        color: #fff;
        width: 100%;
        letter-spacing: 2px;
      }
      p {
        margin-top: 1rem;
        font-size: 19px;
        color: #fff;
        width: 100%;
        line-height: 1.7;
        margin-bottom: 3rem;
      }
      h4 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        a {
          color: #fff;
        }
      }
    }
  }
  main {
    padding: 0 10px;
    .card {
      .card_box {
        margin-top: 3rem;
        text-align: center;
        align-items: center;
        h1 {
          font-weight: 600;
          font-size: 30px;
          color: #555;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        h2 {
          font-size: 30px;
          text-transform: uppercase;
          color: #b099d9;
          letter-spacing: 2px;
        }

        p {
          font-size: 15px;
          margin-top: 2rem;
          line-height: 1.5;
        }
      }

      .card_big_div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .card_div {
        margin-top: 3rem;
        background-color: #f4f4f4;
        width: 100%;
        height: 450px;
        text-align: center;
        padding: 2rem;
        border-radius: 50px;
        box-shadow: 3px 1px 10px #babecc;

        .icon {
          padding: 20px;
          background-color: #fff;
          font-size: 62px;
          color: #b099d9;
          border-radius: 20px;
        }
        h2 {
          margin-top: 3rem;
          font-size: 25px;
          color: #555;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        p {
          font-size: 19px;
          line-height: 1.5;
          color: #566;
          margin-bottom: 3rem;
        }

        .bottom {
          font-size: 100px;
          color: #b099d9;
        }
      }
      .card_div2 {
        margin-top: 5rem;
        background-color: #b099d987;
        width: 100%;
        height: 450px;
        text-align: center;
        padding: 2rem;
        border-radius: 50px;
        box-shadow: 3px 1px 10px #babecc;

        .icon {
          padding: 20px;
          background-color: #fff;
          font-size: 62px;
          color: #b099d9;
          border-radius: 20px;
        }
        h2 {
          margin-top: 3rem;
          font-size: 25px;
          color: #555;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        p {
          font-size: 19px;
          line-height: 1.5;
          color: #566;
          margin-bottom: 3rem;
        }

        .bottom {
          font-size: 100px;
          color: #b099d9;
        }
      }
    }
    .tecnology {
      margin-top: 7rem;
      .tecnology_box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .tecnology_text1 {
          h2 {
            width: 90%;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
            span {
              font-weight: 200;
            }
          }
        }
        .tecnology_text2 {
          margin-right: 6rem;
          h2 {
            margin-top: 1rem;
            color: #b099d9;
            font-size: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
          h3 {
            width: 90%;
            font-size: 25px;
          }
        }
      }
    }
    .content {
      flex: 0;
      flex-direction: column-reverse;
    }

    .content h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .content p {
      line-height: 1.6;
      margin-bottom: 19px;
      color: #333;
      width: 90%;
    }

    .btn {
      background: #a68bc4;
      padding: 15px 35px;
      border: none;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
    }

    .team {
      margin-top: 10rem;
      flex: 1;
    }

    .team h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px;
      display: none;
    }

    .team-members {
      background: #e2d4f0;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      border-radius: 5px;
      gap: 3rem;
      width:100%;
      height: auto;
      padding: 125px;
      display: none;
    }

    .member {
      text-align: center;
    }

    .member img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    .member h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .member p {
      font-size: 16px;
      color: #444;
    }
    .container2 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      max-width: 100%;
      margin: 50px auto;
      padding: 0;
      gap: 1rem;
    }

    .text {
      margin-top: -4rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      .left_text {
        .text1 {
          background-color: #9757d20f;
          padding-left:10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 10px;
          margin-bottom: 1rem;
          width: 100%;
          gap: 1rem;

          h1 {
            padding-left: 10px;
            font-size: 30px;
          }

          p {
            color: #555;
            line-height: 1.6;
            font-size: 17px;
            width: 100%;
          }
        }
        .text2 {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          border-radius: 10px;
          margin-bottom: 1rem;
          gap: 1rem;

          h1 {
            padding-left: 10px;
            font-size: 30px;
          }

          p {
            color: #555;
            line-height: 1.6;
            font-size: 17px;
            width: 100%;
          }
        }
      }
    }

    .sample {
      margin-top: 4rem;
      padding:1rem;
      background-color: #b099d96b;
      width: 100%;
      height: 900px;
      > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        .sample2 {
          margin-top: 12rem;
        }
      }
    }

    .sample_box {
        margin-bottom: -12rem;
      width: 100%;
      height: 400px;
      background-color: #fff;
      padding: 10px 40px;
      text-align: center;
      border-radius: 30px;

      img {
        overflow: hidden;
        object-fit: cover;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin-bottom: 1rem;
      }
      p {
        font-weight: 400;
        line-height: 1.7;
        font-size: 22px;
        color: #888;
        margin-bottom: 1rem;
      }
      h3 {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: 2px;
      }
      h4 {
        color: #a68bc4;
        font-size: 16px;
      }
    }

    .card2 {
      margin-top: 5rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      .card2_box {
        width: 400px;
        text-align: center;
        padding: 40px;

        img {
          width: 240px;
          height: 240px;
          object-fit: cover;
          overflow: hidden;
          border-radius: 50px !important;
          margin-bottom: 1rem;
        }
        h3 {
          color: #b099d9;
        }
        h2 {
          margin-top: 1rem;
          font-size: 22px;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        p {
          font-size: 17px;
          color: #555;
          line-height: 1.6;
          margin-bottom: 1rem;
        }
        .card_i {
          gap: 40px;

          i {
            cursor: pointer;
            font-size: 25px;
            border: none;
            padding: 10px;
            &:hover {
              color: #555;
            }
          }
        }
      }
      .card2_box2 {
        width: 400px;
        text-align: center;
        padding: 40px;
        background: #a68bc4ce;
        border-radius: 50px;
        color: #fff;

        img {
          width: 240px;
          height: 240px;
          object-fit: cover;
          overflow: hidden;
          border-radius: 50px !important;
          margin-bottom: 1rem;
        }
        h3 {
          color: #d6beff;
        }
        h2 {
          margin-top: 1rem;
          font-size: 22px;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
        p {
          font-size: 17px;
          color: #fff;
          line-height: 1.6;
          margin-bottom: 1rem;
        }
        .card_i {
          gap: 40px;

          i {
            cursor: pointer;
            font-size: 25px;
            border: none;
            padding: 10px;
          }
        }
      }
    }
    .dropdown {
      margin-top: 5rem;
      background-color: #9757d251;
      padding-top: 5rem;
      padding-bottom: 4rem;
      .box {
        background-color: #f4f4f4;
        width: 100%;
        padding: 1rem;
      }
      .dropdown_box {
        width: 100%;
        color: #000;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }
      .dropdown_text {
        background-color: #fff;
        padding: 20px;

        .text_dropdown {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            color: #000;
            font-size: 14px;
          }
          i {
            font-size: 25px;
            font-weight: 500;
            color: #a68bc4;
          }
        }
        .dropdown_text2 {
          display: none;
          padding: 0 20px;
          h2 {
            font-size: 16px;
            width: 100%;
            line-height: 1.5;
          }
          p {
            font-size: 14px;
            margin-top: 1rem;
          }
        }
      }
    }
    .contact {
      padding-top: 3rem;
      display: flex;
      justify-content: space-around;
      background-color: #f6f4fb;
      gap: 5rem;
      .contact_box {
        form {
          width: 600px;
          display: flex;
          flex-direction: column;
          label {
            font-size: 18px;
          }
          input {
            border: none;
            border-bottom: 2px solid #000;
            margin-bottom: 1rem;
            padding: 20px 10px;
            font-size: 16px;
            background-color: transparent;
            outline: none;
          }
          select {
            margin-top: 1rem;
            padding: 10px;
            border: none;
            border-bottom: 2px solid #000;
            background-color: transparent;
            margin-bottom: 1rem;
            option {
              padding: 10px;
            }
          }
          .contact_flex {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            align-items: center;
            > div {
              display: flex;
              flex-direction: column;
              width: 100%;
              label {
                margin-bottom: -5px;
              }
              input {
                outline: none;
              }
            }
          }
          .textarea {
            padding: 12px 20px;
            background-clip: padding-box;
          }
          button {
            color: #fff;
            border: none;
            font-weight: 800;
            background-color: #a68bc4;
            font-size: 17px;
            width: 150px;
            padding: 15px 12px;
            text-transform: uppercase;
          }

          #Phone {
            position: relative;
          }

          .eror {
            position: absolute;
            color: red;
            margin-top: 2.5rem;
            margin-left: 16rem;
            display: none;
          }
          .Check {
            margin-top: 2.5rem;
            margin-left: 16rem;
            position: absolute;
            color: greenyellow;
            font-size: 30px;
            display: none;
          }
        }
      }
      .contact_right_text {
        background-color: #fff;
        padding: 100px 20px;
        border-radius: 40px;
        p {
          font-size: 20px;
          margin-left: 1rem;
          line-height: 1.7;
        }
      }
    }
  }
  #dropdown2 {
    display: none;
    transition: all 0.3s ease;
  }

  #dropdown2.open {
    display: block;
  }

  #dropdown4 {
    display: none;
    transition: all 0.3s ease;
  }

  #dropdown4.open {
    display: block;
  }

  #dropdown6 {
    display: none;
    transition: all 0.3s ease;
  }

  #dropdown6.open {
    display: block;
  }

  button {
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    transform: translateY(-4px);
  }

  button:active {
    transform: translateY(2px);
  }
}
