@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-image: url(./../img/png/hero-backgroun_LE_upscale_balanced_x4.jpg);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100rem;
  object-fit: cover;
  overflow: hidden;
  background-position: 50% 50%;
  padding-top: 1.5rem;
  position: relative;
}
header form {
  align-items: center;
}
header form input {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  width: 250px;
  padding: 12px 10px;
  font-size: 18px;
  position: relative;
}
header form input::placeholder {
  color: #fff;
}
header form i {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  transform: translateX(-30px);
  position: absolute;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2235294118);
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 20px;
  transition: right 0.8s ease;
}
header .navbar .side-menu ul {
  list-style: none;
  padding: 0;
}
header .navbar .side-menu ul li {
  margin: 15px 0;
}
header .navbar #close {
  transition: all 2s ease;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
}
header .navbar #menuBtn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #fff;
}
header .navbar .side-menu.open {
  right: 0; /* class qo‘shilganda chiqadi */
}
header .navbar .Menu_text {
  font-size: 18px;
}
header .navbar .Menu_text li {
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(186, 186, 206, 0.8), -1px -1px 20px #fff;
  width: auto;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  color: #fff;
}
header .navbar .Menu_text li:hover {
  transform: scale(0.9);
}

i {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.hero {
  margin-top: 4rem;
}
.hero .hero_box h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  width: 50%;
  letter-spacing: 2px;
}
.hero .hero_box p {
  margin-top: 1rem;
  font-size: 18px;
  color: #fff;
  width: 40%;
  line-height: 1.4;
  margin-bottom: 3rem;
}
.hero .hero_box h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.hero .hero_box h4 a {
  color: #fff;
}

main .card .card_box {
  margin-top: 3rem;
  text-align: center;
  align-items: center;
}
main .card .card_box h1 {
  font-weight: 600;
  font-size: 40px;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
main .card .card_box h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #b099d9;
  letter-spacing: 2px;
}
main .card .card_box p {
  font-size: 18px;
  margin-top: 2rem;
  line-height: 1.5;
}
main .card .card_big_div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
main .card .card_div {
  margin-top: 5rem;
  background-color: #f4f4f4;
  width: 400px;
  height: 450px;
  text-align: center;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 3px 1px 10px #babecc;
}
main .card .card_div .icon {
  padding: 20px;
  background-color: #fff;
  font-size: 62px;
  color: #b099d9;
  border-radius: 20px;
}
main .card .card_div h2 {
  margin-top: 3rem;
  font-size: 25px;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
main .card .card_div p {
  font-size: 19px;
  line-height: 1.5;
  color: #566;
  margin-bottom: 3rem;
}
main .card .card_div .bottom {
  font-size: 100px;
  color: #b099d9;
}
main .card .card_div2 {
  margin-top: 5rem;
  background-color: rgba(176, 153, 217, 0.5294117647);
  width: 400px;
  height: 450px;
  text-align: center;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 3px 1px 10px #babecc;
}
main .card .card_div2 .icon {
  padding: 20px;
  background-color: #fff;
  font-size: 62px;
  color: #b099d9;
  border-radius: 20px;
}
main .card .card_div2 h2 {
  margin-top: 3rem;
  font-size: 25px;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
main .card .card_div2 p {
  font-size: 19px;
  line-height: 1.5;
  color: #566;
  margin-bottom: 3rem;
}
main .card .card_div2 .bottom {
  font-size: 100px;
  color: #b099d9;
}
main .tecnology {
  margin-top: 7rem;
}
main .tecnology .tecnology_box {
  display: flex;
  justify-content: space-between;
}
main .tecnology .tecnology_box .tecnology_text1 h2 {
  width: 90%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}
main .tecnology .tecnology_box .tecnology_text1 h2 span {
  font-weight: 200;
}
main .tecnology .tecnology_box .tecnology_text2 {
  margin-right: 6rem;
}
main .tecnology .tecnology_box .tecnology_text2 h2 {
  color: #b099d9;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .tecnology .tecnology_box .tecnology_text2 h3 {
  width: 90%;
  font-size: 25px;
}
main .content {
  flex: 1;
}
main .content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
main .content p {
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333;
}
main .btn {
  background: #a68bc4;
  padding: 15px 35px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
main .team {
  margin-top: 10rem;
  flex: 1;
}
main .team h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
main .team-members {
  background: #e2d4f0;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  gap: 3rem;
  width: 550px;
  height: 250px;
}
main .member {
  text-align: center;
}
main .member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
main .member h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
}
main .member p {
  font-size: 16px;
  color: #444;
}
main .container2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1300px;
  margin: 50px auto;
  padding: 20px;
  gap: 12rem;
}

/*# sourceMappingURL=style.css.map */
